<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Estrelas astrobiologicamente interessantes até 20 parsecs do Sol</h2>
    <h5>
        UFRJ - Universidade Federal do Rio de Janeiro<br>
        OV - Observatório do Valongo<br>
        IC - Instituto de Computação<br>
    </h5>
    <hr>
    <a href="index.html">Home</a> &nbsp;
    <a href="catalogos.html">Catálogos</a> &nbsp;
    <a href="index.html">Projeto</a> &nbsp;
    <ul>
        <li><a href="gaia.html" onclick="window.location.href='{{url_for('/gaia/')}}';">Gaia</a></li>
    </ul>

</body>
</html>