<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h2>Estrelas astrobiologicamente interessantes até 20 parsecs do Sol</h2>
    <h5>
        UFRJ - Universidade Federal do Rio de Janeiro<br>
        OV - Observatório do Valongo<br>
        IC - Instituto de Computação<br>
    </h5>
    <hr>
    <a href="index.html">Home</a> &nbsp;
    <a href="catalogos.html">Catálogos</a> &nbsp;
    <a href="index.html">Projeto</a> &nbsp; 

    <p>
        <br>
        O gabarito de vida que conhecemos na Terra, baseado em polímeros do carbono 
        e água líquida, exige condições superficiais planetárias específicas, definindo 
        a chamada zona habitável, que preconiza a manutenção de água líquida superficial 
        por escalas de tempo de vários bilhões de anos. Tal definição depende de múltiplos 
        fatores, os principais sendo a distância do planeta à estrela hospedeira, e 
        a massa e composição química estelar, que fixam a taxa de evolução de sua 
        luminosidade e, portanto, o tempo de vida de seus planetas dentro da zona 
        habitável. Visamos identificar e caracterizar, na população estelar dentro 
        de 20 parsecs do Sol, uma amostra completa de estrelas com interesse astrobiológico 
        utilizando os dados dos catálogos Hipparcos e Gaia e montando uma interseção 
        entre esses dois catálogos. O principal objetivo é caracterizar alvos otimizados 
        para futuras sondas orbitais interferométricas, as quais tentarão detectar 
        bioassinaturas em exoplanetas pela assinatura espectroscópica no infravermelho 
        de ozônio, água e metano. Os critérios de seleção incluem massa, idade, estágio 
        evolutivo, composição química e idade cromosférica (ou isocronal), considerados 
        favoráveis à presença de planetas rochosos na zona habitável estelar por, no mínimo, 
        >3 bilhões de anos. Apresentamos resultados preliminares para a seleção estelar 
        Hipparcos (211 estrelas) e descrevemos um método de utilizar as magnitudes e cores 
        do Gaia para avaliar a completeza do catálogo Hipparcos frente ao Gaia. Avaliamos 
        também a completeza do próprio catálogo Gaia, frente ao Hipparcos, já que ambos 
        os catálogos são incompletos nos dados para estrelas aparentemente muito brilhantes, 
        e são caracterizados por vieses distintos. Há número substancial de estrelas contidas 
        apenas no catálogo Hipparcos mas não no Gaia, e vice-versa: uma análise preliminar 
        da influência destes vieses na seleção das estrelas astrobiologicamente interessantes 
        sugere que elas afetam especialmente a população de anãs K de massa baixa.
        <br>
    </p>

</body>
</html>