/* STICK HEADER */
#demo thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo thead { background: #d8d8d8; }
#demo tbody { background: #ededed; }

#demo1 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo1 thead { background: #d8d8d8; }
#demo1 tbody { background: #ededed; }

#demo2 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo2 thead { background: #d8d8d8; }
#demo2 tbody { background: #ededed; }

#demo3 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo3 thead { background: #d8d8d8; }
#demo3 tbody { background: #ededed; }

#demo4 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo4 thead { background: #d8d8d8; }
#demo4 tbody { background: #ededed; }

#demo5 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo5 thead { background: #d8d8d8; }
#demo5 tbody { background: #ededed; }

#demo6 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo6 thead { background: #d8d8d8; }
#demo6 tbody { background: #ededed; }

#demo7 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo7 thead { background: #d8d8d8; }
#demo7 tbody { background: #ededed; }

#demo8 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo8 thead { background: #d8d8d8; }
#demo8 tbody { background: #ededed; }

#demo9 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo9 thead { background: #d8d8d8; }
#demo9 tbody { background: #ededed; }

#demo10 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo10 thead { background: #d8d8d8; }
#demo10 tbody { background: #ededed; }

#demo11 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo11 thead { background: #d8d8d8; }
#demo11 tbody { background: #ededed; }

#demo12 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo12 thead { background: #d8d8d8; }
#demo12 tbody { background: #ededed; }

#demo13 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo13 thead { background: #d8d8d8; }
#demo13 tbody { background: #ededed; }

#demo14 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo14 thead { background: #d8d8d8; }
#demo14 tbody { background: #ededed; }

#demo15 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#demo15 thead { background: #d8d8d8; }
#demo15 tbody { background: #ededed; }

#demo16 thead {
    position: sticky;
    top: 0;
    z-index: 2;
}
#dem16 thead { background: #d8d8d8; }
#demo16 tbody { background: #ededed; }

body {
    margin-bottom: 100px
}