<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
    <h1>{{name}}</h1>

    {% block content %}

    <img src="/static/images/mg_indice_de_cor.png">

    {% endblock %}

    <table border = 1>
        <tr>
        <td><b>M(G)</b></td>
        <td><b>M(Rp)</b></td>
        <td><b>índice de cor</b></td>
        </tr>

        {%for (mg, mrp, indice_de_cor) in zip(data[0], data[1], data[2])%}
        <tr>
        <td>{{mg}}</td>
        <td>{{mrp}}</td>
        <td>{{indice_de_cor}}</td>
        </tr>
    {%endfor%}
    </table>

    </body>

</html>