<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tabela de Dados GAIA</title>
</head>
    <h1>{{name}}</h1>
    <table border="1">
        <tr>
        <td><b>numero_ordinal_do_registro</b></td>
        <td><b>solution_id</b></td>
        <td><b>designation</b></td>
        <td><b>source_id</b></td>
        <td><b>random_index</b></td>
        <td><b>ref_epoch</b></td>
        <td><b>ra</b></td>
        <td><b>ra_error</b></td>
        <td><b>declination</b></td>
        <td><b>dec_error</b></td>
        <td><b>parallax</b></td>
        <td><b>parallax_error</b></td>
        <td><b>parallax_over_error</b></td>
        <td><b>pm</b></td>
        <td><b>pmra</b></td>
        <td><b>pmra_error</b></td>
        <td><b>pmdec</b></td>
        <td><b>pmdec_error</b></td>
        <td><b>ra_dec_corr</b></td>
        <td><b>ra_parallax_corr</b></td>
        <td><b>ra_pmra_corr</b></td>
        <td><b>ra_pmdec_corr</b></td>
        <td><b>dec_parallax_corr</b></td>
        <td><b>dec_pmra_corr</b></td>
        <td><b>dec_pmdec_corr</b></td>
        <td><b>parallax_pmra_corr</b></td>
        <td><b>parallax_pmdec_corr</b></td>
        <td><b>pmra_pmdec_corr</b></td>
        <td><b>astrometric_n_obs_al</b></td>
        <td><b>astrometric_n_obs_ac</b></td>
        <td><b>astrometric_n_good_obs_al</b></td>
        <td><b>astrometric_n_bad_obs_al</b></td>
        <td><b>astrometric_gof_al</b></td>
        <td><b>astrometric_chi2_al</b></td>
        <td><b>astrometric_excess_noise</b></td>
        <td><b>astrometric_excess_noise_sig</b></td>
        <td><b>astrometric_params_solved</b></td>
        <td><b>astrometric_primary_flag</b></td>
        <td><b>nu_eff_used_in_astrometry</b></td>
        <td><b>pseudocolour</b></td>
        <td><b>pseudocolour_error</b></td>
        <td><b>ra_pseudocolour_corr</b></td>
        <td><b>dec_pseudocolour_corr</b></td>
        <td><b>parallax_pseudocolour_corr</b></td>
        <td><b>pmra_pseudocolour_corr</b></td>
        <td><b>pmdec_pseudocolour_corr</b></td>
        <td><b>astrometric_matched_transits</b></td>
        <td><b>visibility_periods_used</b></td>
        <td><b>astrometric_sigma5d_max</b></td>
        <td><b>matched_transits</b></td>
        <td><b>new_matched_transits</b></td>
        <td><b>matched_transits_removed</b></td>
        <td><b>ipd_gof_harmonic_amplitude</b></td>
        <td><b>ipd_gof_harmonic_phase</b></td>
        <td><b>ipd_frac_multi_peak</b></td>
        <td><b>ipd_frac_odd_win</b></td>
        <td><b>ruwe</b></td>
        <td><b>scan_direction_strength_k1</b></td>
        <td><b>scan_direction_strength_k2</b></td>
        <td><b>scan_direction_strength_k3</b></td>
        <td><b>scan_direction_strength_k4</b></td>
        <td><b>scan_direction_mean_k1</b></td>
        <td><b>scan_direction_mean_k2</b></td>
        <td><b>scan_direction_mean_k3</b></td>
        <td><b>scan_direction_mean_k4</b></td>
        <td><b>duplicated_source</b></td>
        <td><b>phot_g_n_obs</b></td>
        <td><b>phot_g_mean_flux</b></td>
        <td><b>phot_g_mean_flux_error</b></td>
        <td><b>phot_g_mean_flux_over_error</b></td>
        <td><b>phot_g_mean_mag</b></td>
        <td><b>phot_bp_n_obs</b></td>
        <td><b>phot_bp_mean_flux</b></td>
        <td><b>phot_bp_mean_flux_error</b></td>
        <td><b>phot_bp_mean_flux_over_error</b></td>
        <td><b>phot_bp_mean_mag</b></td>
        <td><b>phot_rp_n_obs</b></td>
        <td><b>phot_rp_mean_flux</b></td>
        <td><b>phot_rp_mean_flux_error</b></td>
        <td><b>phot_rp_mean_flux_over_error</b></td>
        <td><b>phot_rp_mean_mag</b></td>
        <td><b>phot_bp_rp_excess_factor</b></td>
        <td><b>phot_bp_n_contaminated_transits</b></td>
        <td><b>phot_bp_n_blended_transits</b></td>
        <td><b>phot_rp_n_contaminated_transits</b></td>
        <td><b>phot_rp_n_blended_transits</b></td>
        <td><b>phot_proc_mode</b></td>
        <td><b>bp_rp</b></td>
        <td><b>bp_g</b></td>
        <td><b>g_rp</b></td>
        <td><b>radial_velocity</b></td>
        <td><b>radial_velocity_error</b></td>
        <td><b>rv_method_used</b></td>
        <td><b>rv_nb_transits</b></td>
        <td><b>rv_nb_deblended_transits</b></td>
        <td><b>rv_visibility_periods_used</b></td>
        <td><b>rv_expected_sig_to_noise</b></td>
        <td><b>rv_renormalised_gof</b></td>
        <td><b>rv_chisq_pvalue</b></td>
        <td><b>rv_time_duration</b></td>
        <td><b>rv_amplitude_robust</b></td>
        <td><b>rv_template_teff</b></td>
        <td><b>rv_template_logg</b></td>
        <td><b>rv_template_fe_h</b></td>
        <td><b>rv_atm_param_origin</b></td>
        <td><b>vbroad</b></td>
        <td><b>vbroad_error</b></td>
        <td><b>vbroad_nb_transits</b></td>
        <td><b>grvs_mag</b></td>
        <td><b>grvs_mag_error</b></td>
        <td><b>grvs_mag_nb_transits</b></td>
        <td><b>rvs_spec_sig_to_noise</b></td>
        <td><b>phot_variable_flag</b></td>
        <td><b>galactic_longitude</b></td>
        <td><b>galactic_latitude</b></td>
        <td><b>ecl_lon</b></td>
        <td><b>ecl_lat</b></td>
        <td><b>in_qso_candidates</b></td>
        <td><b>in_galaxy_candidates</b></td>
        <td><b>non_single_star</b></td>
        <td><b>has_xp_continuous</b></td>
        <td><b>has_xp_sampled</b></td>
        <td><b>has_rvs</b></td>
        <td><b>has_epoch_photometry</b></td>
        <td><b>has_epoch_rv</b></td>
        <td><b>has_mcmc_gspphot</b></td>
        <td><b>has_mcmc_msc</b></td>
        <td><b>in_andromeda_survey</b></td>
        <td><b>classprob_dsc_combmod_quasar</b></td>
        <td><b>classprob_dsc_combmod_galaxy</b></td>
        <td><b>classprob_dsc_combmod_star</b></td>
        <td><b>teff_gspphot</b></td>
        <td><b>teff_gspphot_lower</b></td>
        <td><b>teff_gspphot_upper</b></td>
        <td><b>logg_gspphot</b></td>
        <td><b>logg_gspphot_lower</b></td>
        <td><b>logg_gspphot_upper</b></td>
        <td><b>mh_gspphot</b></td>
        <td><b>mh_gspphot_lower</b></td>
        <td><b>mh_gspphot_upper</b></td>
        <td><b>distance_gspphot</b></td>
        <td><b>distance_gspphot_lower</b></td>
        <td><b>distance_gspphot_upper</b></td>
        <td><b>azero_gspphot</b></td>
        <td><b>azero_gspphot_lower</b></td>
        <td><b>azero_gspphot_upper</b></td>
        <td><b>ag_gspphot</b></td>
        <td><b>ag_gspphot_lower</b></td>
        <td><b>ag_gspphot_upper</b></td>
        <td><b>ebpminrp_gspphot</b></td>
        <td><b>ebpminrp_gspphot_lower</b></td>
        <td><b>ebpminrp_gspphot_upper</b></td>
        <td><b>libname_gspphot</b></td>
        </tr>

    {%for registro in data%}
        <tr>
        {%for col in range(154)%}
            <td>{{registro[col]}}</td>
        {%endfor%}
        </tr>
    {%endfor%}
    </table>
</html>