<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gaia ∩ Hipparcos</title>
    <link rel="stylesheet" href='../static/freeze.css' type="text/css"/>

</head>
<body>
    <h1>{{name}}</h1>
    <img src= "{{url_for('static', filename='img/Gaia_intersection_Hipparcos_Mg_versus_Bp_minus_Rp.png')}}" >
    <img src= "{{url_for('static', filename='img/Gaia_intersection_Hipparcos_MRp_versus_Bp_minus_Rp.png')}}" >
    <img src= "{{url_for('static', filename='img/Gaia_intersection_Hipparcos_MV_versus_B_minus_V.png')}}" >
    <img src= "{{url_for('static', filename='img/Gaia_intersection_Hipparcos_MVt_versus_BT_minus_VT.png')}}" >
    <img src= "{{url_for('static', filename='img/Gaia_intersection_Hipparcos_phot_g_mean_mag_versus_Vmag.png')}}" >
    <h2>Estrelas Plotadas em M(G) vs Bp-Rp e M(Rp) vs Bp-Rp</h2>
    <table id="demo" style="display: block; height: 300px; width: 100%; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>ra</b></td>
                <td style="position: sticky; top: 0;"><b>declination</b></td>
                <td style="position: sticky; top: 0;"><b>parallax</b></td>
                <td style="position: sticky; top: 0;"><b>parallax_error</b></td>
                <td style="position: sticky; top: 0;"><b>pm</b></td>
                <td style="position: sticky; top: 0;"><b>pmra</b></td>
                <td style="position: sticky; top: 0;"><b>pmdec</b></td>
                <td style="position: sticky; top: 0;"><b>ruwe</b></td>
                <td style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>M(G)</b></td>
                <td style="position: sticky; top: 0;"><b>M(G) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp) error</b></td>
                <td style="position: sticky; top: 0;"><b>Bp - Rp</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT - VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[0]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
                <td>{{registro[31]}}</td>
                <td>{{registro[32]}}</td>
                <td>{{registro[33]}}</td>
                <td>{{registro[34]}}</td>
                <td>{{registro[35]}}</td>
                <td>{{registro[36]}}</td>
                <td>{{registro[37]}}</td>
                <td>{{registro[38]}}</td>
                <td>{{registro[39]}}</td>
                <td>{{registro[40]}}</td>
                <td>{{registro[41]}}</td>
                <td>{{registro[42]}}</td>
                <td>{{registro[43]}}</td>
                <td>{{registro[44]}}</td>
                <td>{{registro[45]}}</td>
                <td>{{registro[46]}}</td>
                <td>{{registro[47]}}</td>
                <td>{{registro[48]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[1]}}</footer>

    <h2>Estrelas Plotadas em M(V) vs B-V</h2>
    <table id="demo" style="display: block; height: 300px; width: 100%; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>ra</b></td>
                <td style="position: sticky; top: 0;"><b>declination</b></td>
                <td style="position: sticky; top: 0;"><b>parallax</b></td>
                <td style="position: sticky; top: 0;"><b>parallax_error</b></td>
                <td style="position: sticky; top: 0;"><b>pm</b></td>
                <td style="position: sticky; top: 0;"><b>pmra</b></td>
                <td style="position: sticky; top: 0;"><b>pmdec</b></td>
                <td style="position: sticky; top: 0;"><b>ruwe</b></td>
                <td style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>M(G)</b></td>
                <td style="position: sticky; top: 0;"><b>M(G) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp) error</b></td>
                <td style="position: sticky; top: 0;"><b>Bp - Rp</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT - VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[2]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
                <td>{{registro[31]}}</td>
                <td>{{registro[32]}}</td>
                <td>{{registro[33]}}</td>
                <td>{{registro[34]}}</td>
                <td>{{registro[35]}}</td>
                <td>{{registro[36]}}</td>
                <td>{{registro[37]}}</td>
                <td>{{registro[38]}}</td>
                <td>{{registro[39]}}</td>
                <td>{{registro[40]}}</td>
                <td>{{registro[41]}}</td>
                <td>{{registro[42]}}</td>
                <td>{{registro[43]}}</td>
                <td>{{registro[44]}}</td>
                <td>{{registro[45]}}</td>
                <td>{{registro[46]}}</td>
                <td>{{registro[47]}}</td>
                <td>{{registro[48]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[3]}}</footer>

    <h2>Estrelas sem M(V) ou sem B-V</h2>
    <table id="demo" style="display: block; height: 300px; width: 100%; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>ra</b></td>
                <td style="position: sticky; top: 0;"><b>declination</b></td>
                <td style="position: sticky; top: 0;"><b>parallax</b></td>
                <td style="position: sticky; top: 0;"><b>parallax_error</b></td>
                <td style="position: sticky; top: 0;"><b>pm</b></td>
                <td style="position: sticky; top: 0;"><b>pmra</b></td>
                <td style="position: sticky; top: 0;"><b>pmdec</b></td>
                <td style="position: sticky; top: 0;"><b>ruwe</b></td>
                <td style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>M(G)</b></td>
                <td style="position: sticky; top: 0;"><b>M(G) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp) error</b></td>
                <td style="position: sticky; top: 0;"><b>Bp - Rp</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT - VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[4]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
                <td>{{registro[31]}}</td>
                <td>{{registro[32]}}</td>
                <td>{{registro[33]}}</td>
                <td>{{registro[34]}}</td>
                <td>{{registro[35]}}</td>
                <td>{{registro[36]}}</td>
                <td>{{registro[37]}}</td>
                <td>{{registro[38]}}</td>
                <td>{{registro[39]}}</td>
                <td>{{registro[40]}}</td>
                <td>{{registro[41]}}</td>
                <td>{{registro[42]}}</td>
                <td>{{registro[43]}}</td>
                <td>{{registro[44]}}</td>
                <td>{{registro[45]}}</td>
                <td>{{registro[46]}}</td>
                <td>{{registro[47]}}</td>
                <td>{{registro[48]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[5]}}</footer>

    <h2>Estrelas Plotadas em M(Vt) vs BT-VT</h2>
    <table id="demo" style="display: block; height: 300px; width: 100%; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>ra</b></td>
                <td style="position: sticky; top: 0;"><b>declination</b></td>
                <td style="position: sticky; top: 0;"><b>parallax</b></td>
                <td style="position: sticky; top: 0;"><b>parallax_error</b></td>
                <td style="position: sticky; top: 0;"><b>pm</b></td>
                <td style="position: sticky; top: 0;"><b>pmra</b></td>
                <td style="position: sticky; top: 0;"><b>pmdec</b></td>
                <td style="position: sticky; top: 0;"><b>ruwe</b></td>
                <td style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>M(G)</b></td>
                <td style="position: sticky; top: 0;"><b>M(G) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp) error</b></td>
                <td style="position: sticky; top: 0;"><b>Bp - Rp</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT - VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[6]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
                <td>{{registro[31]}}</td>
                <td>{{registro[32]}}</td>
                <td>{{registro[33]}}</td>
                <td>{{registro[34]}}</td>
                <td>{{registro[35]}}</td>
                <td>{{registro[36]}}</td>
                <td>{{registro[37]}}</td>
                <td>{{registro[38]}}</td>
                <td>{{registro[39]}}</td>
                <td>{{registro[40]}}</td>
                <td>{{registro[41]}}</td>
                <td>{{registro[42]}}</td>
                <td>{{registro[43]}}</td>
                <td>{{registro[44]}}</td>
                <td>{{registro[45]}}</td>
                <td>{{registro[46]}}</td>
                <td>{{registro[47]}}</td>
                <td>{{registro[48]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[7]}}</footer>

    <h2>Estrelas sem M(Vt) ou sem BT-VT</h2>
    <table id="demo" style="display: block; height: 300px; width: 100%; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>ra</b></td>
                <td style="position: sticky; top: 0;"><b>declination</b></td>
                <td style="position: sticky; top: 0;"><b>parallax</b></td>
                <td style="position: sticky; top: 0;"><b>parallax_error</b></td>
                <td style="position: sticky; top: 0;"><b>pm</b></td>
                <td style="position: sticky; top: 0;"><b>pmra</b></td>
                <td style="position: sticky; top: 0;"><b>pmdec</b></td>
                <td style="position: sticky; top: 0;"><b>ruwe</b></td>
                <td style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>M(G)</b></td>
                <td style="position: sticky; top: 0;"><b>M(G) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp) error</b></td>
                <td style="position: sticky; top: 0;"><b>Bp - Rp</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT - VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[8]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
                <td>{{registro[31]}}</td>
                <td>{{registro[32]}}</td>
                <td>{{registro[33]}}</td>
                <td>{{registro[34]}}</td>
                <td>{{registro[35]}}</td>
                <td>{{registro[36]}}</td>
                <td>{{registro[37]}}</td>
                <td>{{registro[38]}}</td>
                <td>{{registro[39]}}</td>
                <td>{{registro[40]}}</td>
                <td>{{registro[41]}}</td>
                <td>{{registro[42]}}</td>
                <td>{{registro[43]}}</td>
                <td>{{registro[44]}}</td>
                <td>{{registro[45]}}</td>
                <td>{{registro[46]}}</td>
                <td>{{registro[47]}}</td>
                <td>{{registro[48]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[9]}}</footer>
</body>
</html>