<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Diagramas GAIA</title>
</head>
<body>
    <h1>{{name}}</h1>

    <img src= "{{url_for('static', filename='img/mg_versus_Bp_minus_Rp.png')}}" >
    <img src= "{{url_for('static', filename='img/mrp_versus_Bp_minus_Rp.png')}}" >


    <table border="3">
        <tr>
        <td><b>número ordinal do registro</b></td>
        <td><b>M(G)</b></td>
        <td><b>M(Rp)</b></td>
        <td><b>Bp - Rp</b></td>
        <td><b>erro de M(G)</b></td>
        <td><b>erro de M(Rp)</b></td>
        </tr>

        {%for registro in data%}
        <tr>
        <td>{{registro[0]}}</td>
        <td>{{registro[1]}}</td>
        <td>{{registro[2]}}</td>
        <td>{{registro[3]}}</td>
        <td>{{registro[4]}}</td>
        <td>{{registro[5]}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>