<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Hipparcos - Gaia (Astropy)</title>
</head>
    <h1>{{name}}</h1>

    <img src= "{{url_for('static', filename='img/hipparcos_minus_gaia_astropy_mv_versus_b_minus_v_plx_greater_0.png')}}" >
    <img src= "{{url_for('static', filename='img/hipparcos_minus_gaia_astropy_mvt_versus_bt_minus_vt_plx_greater_0.png')}}" >

    <img src= "{{url_for('static', filename='img/hipparcos_minus_gaia_astropy_mv_versus_b_minus_v_plx_greater_0.005.png')}}" >
    <img src= "{{url_for('static', filename='img/hipparcos_minus_gaia_astropy_mvt_versus_bt_minus_vt_plx_greater_0.005.png')}}" >

    <img src= "{{url_for('static', filename='img/hipparcos_minus_gaia_astropy_mv_versus_b_minus_v_plx_greater_0.0275.png')}}" >
    <img src= "{{url_for('static', filename='img/hipparcos_minus_gaia_astropy_mvt_versus_bt_minus_vt_plx_greater_0.0275.png')}}" >

    <img src= "{{url_for('static', filename='img/hipparcos_minus_gaia_astropy_mv_versus_b_minus_v_plx_greater_0.05.png')}}" >
    <img src= "{{url_for('static', filename='img/hipparcos_minus_gaia_astropy_mvt_versus_bt_minus_vt_plx_greater_0.05.png')}}" >

    <img src= "{{url_for('static', filename='img/hipparcos_minus_gaia_astropy_mv_versus_b_minus_v_plx_greater_0.1.png')}}" >
    <img src= "{{url_for('static', filename='img/hipparcos_minus_gaia_astropy_mvt_versus_bt_minus_vt_plx_greater_0.1.png')}}" >


    <table border="1">
        <tr>
        <td><b>numero_ordinal_do_registro</b></td>
        <td><b>HIP</b></td>
        <td><b>Vmag</b></td>
        <td><b>RAdeg</b></td>
        <td><b>DEdeg</b></td>
        <td><b>Plx</b></td>
        <td><b>e_Plx</b></td>
        <td><b>pmRA</b></td>
        <td><b>pmDE</b></td>
        <td><b>BTmag</b></td>
        <td><b>VTmag</b></td>
        <td><b>B_V</b></td>
        </tr>

    {%for registro in data%}
        <tr>
        {%for col in range(12)%}
            <td>{{registro[col]}}</td>
        {%endfor%}
        </tr>
    {%endfor%}
    </table>
</html>