<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <style>
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <title>Gaia ∩ Hipparcos</title>
    <link rel="stylesheet" href='../static/freeze.css' type="text/css"/>

</head>
<body>
    <h1>{{name}}</h1>
    <img src= "{{url_for('static', filename='img/Gaia_intersection_Hipparcos_Mg_versus_Bp_minus_Rp.png')}}" >
    <img src= "{{url_for('static', filename='img/Gaia_intersection_Hipparcos_MRp_versus_Bp_minus_Rp.png')}}" >
    <img src= "{{url_for('static', filename='img/Gaia_intersection_Hipparcos_MV_versus_B_minus_V.png')}}" >
    <img src= "{{url_for('static', filename='img/Gaia_intersection_Hipparcos_MVt_versus_BT_minus_VT.png')}}" >
    <img src= "{{url_for('static', filename='img/Gaia_intersection_Hipparcos_phot_g_mean_mag_versus_Vmag.png')}}" >
    <h2>Estrelas Plotadas em M(G) vs Bp-Rp e M(Rp) vs Bp-Rp</h2>

    <input type="text" id="designation-search5" onkeyup="search5()" placeholder="search by designation.." class="table-search-filters">
    <input type="number" id="HIP-search5" onkeyup="search5()" placeholder="search by HIP.." class="table-search-filters">
    <input type="text" id="HD-search5" onkeyup="search5()" placeholder="search by HD.." class="table-search-filters">

    <div id="statistic5"></div>

    <table id="demo5" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr class="header">
                <th style="position: sticky; top: 0;"><b>designation</b></th>
                <th style="position: sticky; top: 0;"><b>HIP</b></th>
                <th style="position: sticky; top: 0;"><b>HD</b></th>
                <th style="position: sticky; top: 0;"><b>ra</b></th>
                <th style="position: sticky; top: 0;"><b>declination</b></th>
                <th style="position: sticky; top: 0;"><b>parallax</b></th>
                <th style="position: sticky; top: 0;"><b>parallax_error</b></th>
                <th style="position: sticky; top: 0;"><b>pm</b></th>
                <th style="position: sticky; top: 0;"><b>pmra</b></th>
                <th style="position: sticky; top: 0;"><b>pmdec</b></th>
                <th style="position: sticky; top: 0;"><b>ruwe</b></th>
                <th style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>M(G)</b></th>
                <th style="position: sticky; top: 0;"><b>M(G) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Rp)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Rp) error</b></th>
                <th style="position: sticky; top: 0;"><b>Bp - Rp</b></th>
                <th style="position: sticky; top: 0;"><b>Vmag</b></th>
                <th style="position: sticky; top: 0;"><b>RAdeg</b></th>
                <th style="position: sticky; top: 0;"><b>DEdeg</b></th>
                <th style="position: sticky; top: 0;"><b>RAhms</b></th>
                <th style="position: sticky; top: 0;"><b>DEdms</b></th>
                <th style="position: sticky; top: 0;"><b>Plx</b></th>
                <th style="position: sticky; top: 0;"><b>e_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>distance_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>pmRA</b></th>
                <th style="position: sticky; top: 0;"><b>pmDE</b></th>
                <th style="position: sticky; top: 0;"><b>BTmag</b></th>
                <th style="position: sticky; top: 0;"><b>VTmag</b></th>
                <th style="position: sticky; top: 0;"><b>M(V)</b></th>
                <th style="position: sticky; top: 0;"><b>M(V) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt) error</b></th>
                <th style="position: sticky; top: 0;"><b>B-V</b></th>
                <th style="position: sticky; top: 0;"><b>BT - VT</b></th>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[0]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
                <td>{{registro[31]}}</td>
                <td>{{registro[32]}}</td>
                <td>{{registro[33]}}</td>
                <td>{{registro[34]}}</td>
                <td>{{registro[35]}}</td>
                <td>{{registro[36]}}</td>
                <td>{{registro[37]}}</td>
                <td>{{registro[38]}}</td>
                <td>{{registro[39]}}</td>
                <td>{{registro[40]}}</td>
                <td>{{registro[41]}}</td>
                <td>{{registro[42]}}</td>
                <td>{{registro[43]}}</td>
                <td>{{registro[44]}}</td>
                <td>{{registro[45]}}</td>
                <td>{{registro[46]}}</td>
                <td>{{registro[47]}}</td>
                <td>{{registro[48]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <script>

    var input_HIP = document.getElementById("HIP-search5");
    var input_HD = document.getElementById("HD-search5");
    var input_designation = document.getElementById("designation-search5");
    var table = document.getElementById("demo5");
    function search5() {

        // Declare variables
        var filter_designation, filter_HIP, filter_HD, tr, td_designation, td_HIP, td_HD, i, designationValue, HIPValue, HDValue;

        filter_HIP = input_HIP.value;
        filter_HD = input_HD.value.toUpperCase();
        filter_designation = input_designation.value.toUpperCase();
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        rowsFound = [];
        for (i = 0; i < tr.length; i++) {

            td_designation = tr[i].getElementsByTagName("td")[0]; // change number to any other number to target column for table search
            td_HIP = tr[i].getElementsByTagName("td")[1];
            td_HD = tr[i].getElementsByTagName("td")[2];

            if (td_designation) {

                designationValue = td_designation.textContent || td_designation.innerText;
                HIPValue = td_HIP.textContent || td_HIP.innerText;
                HDValue = td_HD.textContent || td_HD.innerText;

                 if (designationValue.toUpperCase().indexOf(filter_designation) > -1
                  && HIPValue.indexOf(filter_HIP) > -1
                  && HDValue.toUpperCase().indexOf(filter_HD) > -1) {
                     tr[i].style.display = "";
                     rowsFound.push(1)
                 } else {
                     tr[i].style.display = "none";
                 }
            }
        }
        document.getElementById("statistic5").innerHTML =  "Showing " + rowsFound.length + " recorder(s).";
    }
    search5()
    </script>

    <h2>Estrelas Plotadas em M(V) vs B-V</h2>

    <input type="text" id="designation-search6" onkeyup="search6()" placeholder="search by designation.." class="table-search-filters">
    <input type="number" id="HIP-search6" onkeyup="search6()" placeholder="search by HIP.." class="table-search-filters">
    <input type="text" id="HD-search6" onkeyup="search6()" placeholder="search by HD.." class="table-search-filters">

    <div id="statistic6"></div>

    <table id="demo6" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr class="header">
                <th style="position: sticky; top: 0;"><b>designation</b></th>
                <th style="position: sticky; top: 0;"><b>HIP</b></th>
                <th style="position: sticky; top: 0;"><b>HD</b></th>
                <th style="position: sticky; top: 0;"><b>ra</b></th>
                <th style="position: sticky; top: 0;"><b>declination</b></th>
                <th style="position: sticky; top: 0;"><b>parallax</b></th>
                <th style="position: sticky; top: 0;"><b>parallax_error</b></th>
                <th style="position: sticky; top: 0;"><b>pm</b></th>
                <th style="position: sticky; top: 0;"><b>pmra</b></th>
                <th style="position: sticky; top: 0;"><b>pmdec</b></th>
                <th style="position: sticky; top: 0;"><b>ruwe</b></th>
                <th style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>M(G)</b></th>
                <th style="position: sticky; top: 0;"><b>M(G) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Rp)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Rp) error</b></th>
                <th style="position: sticky; top: 0;"><b>Bp - Rp</b></th>
                <th style="position: sticky; top: 0;"><b>Vmag</b></th>
                <th style="position: sticky; top: 0;"><b>RAdeg</b></th>
                <th style="position: sticky; top: 0;"><b>DEdeg</b></th>
                <th style="position: sticky; top: 0;"><b>RAhms</b></th>
                <th style="position: sticky; top: 0;"><b>DEdms</b></th>
                <th style="position: sticky; top: 0;"><b>Plx</b></th>
                <th style="position: sticky; top: 0;"><b>e_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>distance_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>pmRA</b></th>
                <th style="position: sticky; top: 0;"><b>pmDE</b></th>
                <th style="position: sticky; top: 0;"><b>BTmag</b></th>
                <th style="position: sticky; top: 0;"><b>VTmag</b></th>
                <th style="position: sticky; top: 0;"><b>M(V)</b></th>
                <th style="position: sticky; top: 0;"><b>M(V) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt) error</b></th>
                <th style="position: sticky; top: 0;"><b>B-V</b></th>
                <th style="position: sticky; top: 0;"><b>BT - VT</b></th>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[2]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
                <td>{{registro[31]}}</td>
                <td>{{registro[32]}}</td>
                <td>{{registro[33]}}</td>
                <td>{{registro[34]}}</td>
                <td>{{registro[35]}}</td>
                <td>{{registro[36]}}</td>
                <td>{{registro[37]}}</td>
                <td>{{registro[38]}}</td>
                <td>{{registro[39]}}</td>
                <td>{{registro[40]}}</td>
                <td>{{registro[41]}}</td>
                <td>{{registro[42]}}</td>
                <td>{{registro[43]}}</td>
                <td>{{registro[44]}}</td>
                <td>{{registro[45]}}</td>
                <td>{{registro[46]}}</td>
                <td>{{registro[47]}}</td>
                <td>{{registro[48]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <script>

    var input_HIP = document.getElementById("HIP-search6");
    var input_HD = document.getElementById("HD-search6");
    var input_designation = document.getElementById("designation-search6");
    var table = document.getElementById("demo6");
    function search6() {

        // Declare variables
        var filter_designation, filter_HIP, filter_HD, tr, td_designation, td_HIP, td_HD, i, designationValue, HIPValue, HDValue;

        filter_HIP = input_HIP.value;
        filter_HD = input_HD.value.toUpperCase();
        filter_designation = input_designation.value.toUpperCase();
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        rowsFound = [];
        for (i = 0; i < tr.length; i++) {

            td_designation = tr[i].getElementsByTagName("td")[0]; // change number to any other number to target column for table search
            td_HIP = tr[i].getElementsByTagName("td")[1];
            td_HD = tr[i].getElementsByTagName("td")[2];

            if (td_designation) {

                designationValue = td_designation.textContent || td_designation.innerText;
                HIPValue = td_HIP.textContent || td_HIP.innerText;
                HDValue = td_HD.textContent || td_HD.innerText;

                 if (designationValue.toUpperCase().indexOf(filter_designation) > -1
                  && HIPValue.indexOf(filter_HIP) > -1
                  && HDValue.toUpperCase().indexOf(filter_HD) > -1) {
                     tr[i].style.display = "";
                     rowsFound.push(1)
                 } else {
                     tr[i].style.display = "none";
                 }
            }
        }
        document.getElementById("statistic6").innerHTML =  "Showing " + rowsFound.length + " recorder(s).";
    }
    search6()
    </script>

    <h2>Estrelas sem M(V) ou sem B-V</h2>

    <input type="text" id="designation-search7" onkeyup="search7()" placeholder="search by designation.." class="table-search-filters">
    <input type="number" id="HIP-search7" onkeyup="search7()" placeholder="search by HIP.." class="table-search-filters">
    <input type="text" id="HD-search7" onkeyup="search7()" placeholder="search by HD.." class="table-search-filters">

    <div id="statistic7"></div>

    <table id="demo7" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr class="header">
                <th style="position: sticky; top: 0;"><b>designation</b></th>
                <th style="position: sticky; top: 0;"><b>HIP</b></th>
                <th style="position: sticky; top: 0;"><b>HD</b></th>
                <th style="position: sticky; top: 0;"><b>ra</b></th>
                <th style="position: sticky; top: 0;"><b>declination</b></th>
                <th style="position: sticky; top: 0;"><b>parallax</b></th>
                <th style="position: sticky; top: 0;"><b>parallax_error</b></th>
                <th style="position: sticky; top: 0;"><b>pm</b></th>
                <th style="position: sticky; top: 0;"><b>pmra</b></th>
                <th style="position: sticky; top: 0;"><b>pmdec</b></th>
                <th style="position: sticky; top: 0;"><b>ruwe</b></th>
                <th style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>M(G)</b></th>
                <th style="position: sticky; top: 0;"><b>M(G) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Rp)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Rp) error</b></th>
                <th style="position: sticky; top: 0;"><b>Bp - Rp</b></th>
                <th style="position: sticky; top: 0;"><b>Vmag</b></th>
                <th style="position: sticky; top: 0;"><b>RAdeg</b></th>
                <th style="position: sticky; top: 0;"><b>DEdeg</b></th>
                <th style="position: sticky; top: 0;"><b>RAhms</b></th>
                <th style="position: sticky; top: 0;"><b>DEdms</b></th>
                <th style="position: sticky; top: 0;"><b>Plx</b></th>
                <th style="position: sticky; top: 0;"><b>e_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>distance_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>pmRA</b></th>
                <th style="position: sticky; top: 0;"><b>pmDE</b></th>
                <th style="position: sticky; top: 0;"><b>BTmag</b></th>
                <th style="position: sticky; top: 0;"><b>VTmag</b></th>
                <th style="position: sticky; top: 0;"><b>M(V)</b></th>
                <th style="position: sticky; top: 0;"><b>M(V) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt) error</b></th>
                <th style="position: sticky; top: 0;"><b>B-V</b></th>
                <th style="position: sticky; top: 0;"><b>BT - VT</b></th>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[4]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
                <td>{{registro[31]}}</td>
                <td>{{registro[32]}}</td>
                <td>{{registro[33]}}</td>
                <td>{{registro[34]}}</td>
                <td>{{registro[35]}}</td>
                <td>{{registro[36]}}</td>
                <td>{{registro[37]}}</td>
                <td>{{registro[38]}}</td>
                <td>{{registro[39]}}</td>
                <td>{{registro[40]}}</td>
                <td>{{registro[41]}}</td>
                <td>{{registro[42]}}</td>
                <td>{{registro[43]}}</td>
                <td>{{registro[44]}}</td>
                <td>{{registro[45]}}</td>
                <td>{{registro[46]}}</td>
                <td>{{registro[47]}}</td>
                <td>{{registro[48]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <script>

    var input_HIP = document.getElementById("HIP-search7");
    var input_HD = document.getElementById("HD-search7");
    var input_designation = document.getElementById("designation-search7");
    var table = document.getElementById("demo7");
    function search7() {

        // Declare variables
        var filter_designation, filter_HIP, filter_HD, tr, td_designation, td_HIP, td_HD, i, designationValue, HIPValue, HDValue;

        filter_HIP = input_HIP.value;
        filter_HD = input_HD.value.toUpperCase();
        filter_designation = input_designation.value.toUpperCase();
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        rowsFound = [];
        for (i = 0; i < tr.length; i++) {

            td_designation = tr[i].getElementsByTagName("td")[0]; // change number to any other number to target column for table search
            td_HIP = tr[i].getElementsByTagName("td")[1];
            td_HD = tr[i].getElementsByTagName("td")[2];

            if (td_designation) {

                designationValue = td_designation.textContent || td_designation.innerText;
                HIPValue = td_HIP.textContent || td_HIP.innerText;
                HDValue = td_HD.textContent || td_HD.innerText;

                 if (designationValue.toUpperCase().indexOf(filter_designation) > -1
                  && HIPValue.indexOf(filter_HIP) > -1
                  && HDValue.toUpperCase().indexOf(filter_HD) > -1) {
                     tr[i].style.display = "";
                     rowsFound.push(1)
                 } else {
                     tr[i].style.display = "none";
                 }
            }
        }
        document.getElementById("statistic7").innerHTML =  "Showing " + rowsFound.length + " recorder(s).";
    }
    search7()
    </script>

    <h2>Estrelas Plotadas em M(Vt) vs BT-VT</h2>

    <input type="text" id="designation-search8" onkeyup="search8()" placeholder="search by designation.." class="table-search-filters">
    <input type="number" id="HIP-search8" onkeyup="search8()" placeholder="search by HIP.." class="table-search-filters">
    <input type="text" id="HD-search8" onkeyup="search8()" placeholder="search by HD.." class="table-search-filters">

    <div id="statistic8"></div>

    <table id="demo8" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr class="header">
                <th style="position: sticky; top: 0;"><b>designation</b></th>
                <th style="position: sticky; top: 0;"><b>HIP</b></th>
                <th style="position: sticky; top: 0;"><b>HD</b></th>
                <th style="position: sticky; top: 0;"><b>ra</b></th>
                <th style="position: sticky; top: 0;"><b>declination</b></th>
                <th style="position: sticky; top: 0;"><b>parallax</b></th>
                <th style="position: sticky; top: 0;"><b>parallax_error</b></th>
                <th style="position: sticky; top: 0;"><b>pm</b></th>
                <th style="position: sticky; top: 0;"><b>pmra</b></th>
                <th style="position: sticky; top: 0;"><b>pmdec</b></th>
                <th style="position: sticky; top: 0;"><b>ruwe</b></th>
                <th style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>M(G)</b></th>
                <th style="position: sticky; top: 0;"><b>M(G) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Rp)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Rp) error</b></th>
                <th style="position: sticky; top: 0;"><b>Bp - Rp</b></th>
                <th style="position: sticky; top: 0;"><b>Vmag</b></th>
                <th style="position: sticky; top: 0;"><b>RAdeg</b></th>
                <th style="position: sticky; top: 0;"><b>DEdeg</b></th>
                <th style="position: sticky; top: 0;"><b>RAhms</b></th>
                <th style="position: sticky; top: 0;"><b>DEdms</b></th>
                <th style="position: sticky; top: 0;"><b>Plx</b></th>
                <th style="position: sticky; top: 0;"><b>e_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>distance_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>pmRA</b></th>
                <th style="position: sticky; top: 0;"><b>pmDE</b></th>
                <th style="position: sticky; top: 0;"><b>BTmag</b></th>
                <th style="position: sticky; top: 0;"><b>VTmag</b></th>
                <th style="position: sticky; top: 0;"><b>M(V)</b></th>
                <th style="position: sticky; top: 0;"><b>M(V) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt) error</b></th>
                <th style="position: sticky; top: 0;"><b>B-V</b></th>
                <th style="position: sticky; top: 0;"><b>BT - VT</b></th>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[6]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
                <td>{{registro[31]}}</td>
                <td>{{registro[32]}}</td>
                <td>{{registro[33]}}</td>
                <td>{{registro[34]}}</td>
                <td>{{registro[35]}}</td>
                <td>{{registro[36]}}</td>
                <td>{{registro[37]}}</td>
                <td>{{registro[38]}}</td>
                <td>{{registro[39]}}</td>
                <td>{{registro[40]}}</td>
                <td>{{registro[41]}}</td>
                <td>{{registro[42]}}</td>
                <td>{{registro[43]}}</td>
                <td>{{registro[44]}}</td>
                <td>{{registro[45]}}</td>
                <td>{{registro[46]}}</td>
                <td>{{registro[47]}}</td>
                <td>{{registro[48]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <script>

    var input_HIP = document.getElementById("HIP-search8");
    var input_HD = document.getElementById("HD-search8");
    var input_designation = document.getElementById("designation-search8");
    var table = document.getElementById("demo8");
    function search8() {

        // Declare variables
        var filter_designation, filter_HIP, filter_HD, tr, td_designation, td_HIP, td_HD, i, designationValue, HIPValue, HDValue;

        filter_HIP = input_HIP.value;
        filter_HD = input_HD.value.toUpperCase();
        filter_designation = input_designation.value.toUpperCase();
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        rowsFound = [];
        for (i = 0; i < tr.length; i++) {

            td_designation = tr[i].getElementsByTagName("td")[0]; // change number to any other number to target column for table search
            td_HIP = tr[i].getElementsByTagName("td")[1];
            td_HD = tr[i].getElementsByTagName("td")[2];

            if (td_designation) {

                designationValue = td_designation.textContent || td_designation.innerText;
                HIPValue = td_HIP.textContent || td_HIP.innerText;
                HDValue = td_HD.textContent || td_HD.innerText;

                 if (designationValue.toUpperCase().indexOf(filter_designation) > -1
                  && HIPValue.indexOf(filter_HIP) > -1
                  && HDValue.toUpperCase().indexOf(filter_HD) > -1) {
                     tr[i].style.display = "";
                     rowsFound.push(1)
                 } else {
                     tr[i].style.display = "none";
                 }
            }
        }
        document.getElementById("statistic8").innerHTML =  "Showing " + rowsFound.length + " recorder(s).";
    }
    search8()
    </script>

    <h2>Estrelas sem M(Vt) ou sem BT-VT</h2>

    <input type="text" id="designation-search9" onkeyup="search9()" placeholder="search by designation.." class="table-search-filters">
    <input type="number" id="HIP-search9" onkeyup="search9()" placeholder="search by HIP.." class="table-search-filters">
    <input type="text" id="HD-search9" onkeyup="search9()" placeholder="search by HD.." class="table-search-filters">

    <div id="statistic9"></div>

    <table id="demo9" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr class="header">
                <th style="position: sticky; top: 0;"><b>designation</b></th>
                <th style="position: sticky; top: 0;"><b>HIP</b></th>
                <th style="position: sticky; top: 0;"><b>HD</b></th>
                <th style="position: sticky; top: 0;"><b>ra</b></th>
                <th style="position: sticky; top: 0;"><b>declination</b></th>
                <th style="position: sticky; top: 0;"><b>parallax</b></th>
                <th style="position: sticky; top: 0;"><b>parallax_error</b></th>
                <th style="position: sticky; top: 0;"><b>pm</b></th>
                <th style="position: sticky; top: 0;"><b>pmra</b></th>
                <th style="position: sticky; top: 0;"><b>pmdec</b></th>
                <th style="position: sticky; top: 0;"><b>ruwe</b></th>
                <th style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></th>
                <th style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></th>
                <th style="position: sticky; top: 0;"><b>M(G)</b></th>
                <th style="position: sticky; top: 0;"><b>M(G) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Rp)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Rp) error</b></th>
                <th style="position: sticky; top: 0;"><b>Bp - Rp</b></th>
                <th style="position: sticky; top: 0;"><b>Vmag</b></th>
                <th style="position: sticky; top: 0;"><b>RAdeg</b></th>
                <th style="position: sticky; top: 0;"><b>DEdeg</b></th>
                <th style="position: sticky; top: 0;"><b>RAhms</b></th>
                <th style="position: sticky; top: 0;"><b>DEdms</b></th>
                <th style="position: sticky; top: 0;"><b>Plx</b></th>
                <th style="position: sticky; top: 0;"><b>e_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>distance_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>pmRA</b></th>
                <th style="position: sticky; top: 0;"><b>pmDE</b></th>
                <th style="position: sticky; top: 0;"><b>BTmag</b></th>
                <th style="position: sticky; top: 0;"><b>VTmag</b></th>
                <th style="position: sticky; top: 0;"><b>M(V)</b></th>
                <th style="position: sticky; top: 0;"><b>M(V) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt) error</b></th>
                <th style="position: sticky; top: 0;"><b>B-V</b></th>
                <th style="position: sticky; top: 0;"><b>BT - VT</b></th>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[8]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
                <td>{{registro[31]}}</td>
                <td>{{registro[32]}}</td>
                <td>{{registro[33]}}</td>
                <td>{{registro[34]}}</td>
                <td>{{registro[35]}}</td>
                <td>{{registro[36]}}</td>
                <td>{{registro[37]}}</td>
                <td>{{registro[38]}}</td>
                <td>{{registro[39]}}</td>
                <td>{{registro[40]}}</td>
                <td>{{registro[41]}}</td>
                <td>{{registro[42]}}</td>
                <td>{{registro[43]}}</td>
                <td>{{registro[44]}}</td>
                <td>{{registro[45]}}</td>
                <td>{{registro[46]}}</td>
                <td>{{registro[47]}}</td>
                <td>{{registro[48]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <script>

    var input_HIP = document.getElementById("HIP-search9");
    var input_HD = document.getElementById("HD-search9");
    var input_designation = document.getElementById("designation-search9");
    var table = document.getElementById("demo9");
    function search9() {

        // Declare variables
        var filter_designation, filter_HIP, filter_HD, tr, td_designation, td_HIP, td_HD, i, designationValue, HIPValue, HDValue;

        filter_HIP = input_HIP.value;
        filter_HD = input_HD.value.toUpperCase();
        filter_designation = input_designation.value.toUpperCase();
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        rowsFound = [];
        for (i = 0; i < tr.length; i++) {

            td_designation = tr[i].getElementsByTagName("td")[0]; // change number to any other number to target column for table search
            td_HIP = tr[i].getElementsByTagName("td")[1];
            td_HD = tr[i].getElementsByTagName("td")[2];

            if (td_designation) {

                designationValue = td_designation.textContent || td_designation.innerText;
                HIPValue = td_HIP.textContent || td_HIP.innerText;
                HDValue = td_HD.textContent || td_HD.innerText;

                 if (designationValue.toUpperCase().indexOf(filter_designation) > -1
                  && HIPValue.indexOf(filter_HIP) > -1
                  && HDValue.toUpperCase().indexOf(filter_HD) > -1) {
                     tr[i].style.display = "";
                     rowsFound.push(1)
                 } else {
                     tr[i].style.display = "none";
                 }
            }
        }
        document.getElementById("statistic9").innerHTML =  "Showing " + rowsFound.length + " recorder(s).";
    }
    search9()
    </script>

</body>
</html>