<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gaia - Hipparcos</title>
    <link rel="stylesheet" href='../static/freeze.css' type="text/css"/>

</head>
<body>
    <h1>{{name}}</h1>
    <img src= "{{url_for('static', filename='img/Gaia_minus_Hipparcos_Mg_versus_Bp_minus_Rp.png')}}" >
    <img src= "{{url_for('static', filename='img/Gaia_minus_Hipparcos_MRp_versus_Bp_minus_Rp.png')}}" >
    <h2>Estrelas Plotadas</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>ra</b></td>
                <td style="position: sticky; top: 0;"><b>declination</b></td>
                <td style="position: sticky; top: 0;"><b>parallax</b></td>
                <td style="position: sticky; top: 0;"><b>parallax_error</b></td>
                <td style="position: sticky; top: 0;"><b>pm</b></td>
                <td style="position: sticky; top: 0;"><b>pmra</b></td>
                <td style="position: sticky; top: 0;"><b>pmdec</b></td>
                <td style="position: sticky; top: 0;"><b>ruwe</b></td>
                <td style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>M(G)</b></td>
                <td style="position: sticky; top: 0;"><b>M(G) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp) error</b></td>
                <td style="position: sticky; top: 0;"><b>Bp - Rp</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[0]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[1]}}</footer>

    <h2>Estrelas com Bp - Rp ≤ 1.6</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>ra</b></td>
                <td style="position: sticky; top: 0;"><b>declination</b></td>
                <td style="position: sticky; top: 0;"><b>parallax</b></td>
                <td style="position: sticky; top: 0;"><b>parallax_error</b></td>
                <td style="position: sticky; top: 0;"><b>pm</b></td>
                <td style="position: sticky; top: 0;"><b>pmra</b></td>
                <td style="position: sticky; top: 0;"><b>pmdec</b></td>
                <td style="position: sticky; top: 0;"><b>ruwe</b></td>
                <td style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>M(G)</b></td>
                <td style="position: sticky; top: 0;"><b>M(G) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp) error</b></td>
                <td style="position: sticky; top: 0;"><b>Bp - Rp</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[2]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[3]}}</footer>

    <h2>Estrelas com Bp - Rp > 1.6</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>ra</b></td>
                <td style="position: sticky; top: 0;"><b>declination</b></td>
                <td style="position: sticky; top: 0;"><b>parallax</b></td>
                <td style="position: sticky; top: 0;"><b>parallax_error</b></td>
                <td style="position: sticky; top: 0;"><b>pm</b></td>
                <td style="position: sticky; top: 0;"><b>pmra</b></td>
                <td style="position: sticky; top: 0;"><b>pmdec</b></td>
                <td style="position: sticky; top: 0;"><b>ruwe</b></td>
                <td style="position: sticky; top: 0;"><b>phot_g_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_bp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>phot_rp_mean_mag</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>teff_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>logg_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>mh_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_lower</b></td>
                <td style="position: sticky; top: 0;"><b>distance_gspphot_upper</b></td>
                <td style="position: sticky; top: 0;"><b>M(G)</b></td>
                <td style="position: sticky; top: 0;"><b>M(G) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Rp) error</b></td>
                <td style="position: sticky; top: 0;"><b>Bp - Rp</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[4]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
                <td>{{registro[21]}}</td>
                <td>{{registro[22]}}</td>
                <td>{{registro[23]}}</td>
                <td>{{registro[24]}}</td>
                <td>{{registro[25]}}</td>
                <td>{{registro[26]}}</td>
                <td>{{registro[27]}}</td>
                <td>{{registro[28]}}</td>
                <td>{{registro[29]}}</td>
                <td>{{registro[30]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[5]}}</footer>
</body>
</html>