<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <style>
    input[type=number] {
        -moz-appearance: textfield;
    }
    </style>
    <title>Hipparcos</title>
    <link rel="stylesheet" href='../static/freeze.css' type="text/css"/>

</head>
<body>
    <h1>{{name}}</h1>
    <img src= "{{url_for('static', filename='img/Hipparcos_MV_versus_B_minus_V.png')}}" >
    <img src= "{{url_for('static', filename='img/Hipparcos_MVt_versus_BT_minus_VT.png')}}" >

        <h2>Estrelas no Catálogo</h2>

    <input type="text" id="designation-search" onkeyup="search()" placeholder="search by designation.." class="table-search-filters">
    <input type="number" id="HIP-search" onkeyup="search()" placeholder="search by HIP.." class="table-search-filters">
    <input type="text" id="HD-search" onkeyup="search()" placeholder="search by HD.." class="table-search-filters">

    <div id="statistic"></div>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr class="header">
                <th style="position: sticky; top: 0;"><b>HIP</b></th>
                <th style="position: sticky; top: 0;"><b>HD</b></th>
                <th style="position: sticky; top: 0;"><b>designation</b></th>
                <th style="position: sticky; top: 0;"><b>Vmag</b></th>
                <th style="position: sticky; top: 0;"><b>RAdeg</b></th>
                <th style="position: sticky; top: 0;"><b>DEdeg</b></th>
                <th style="position: sticky; top: 0;"><b>RAhms</b></th>
                <th style="position: sticky; top: 0;"><b>DEdms</b></th>
                <th style="position: sticky; top: 0;"><b>Plx</b></th>
                <th style="position: sticky; top: 0;"><b>e_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>distance_Plx</b></th>
                <th style="position: sticky; top: 0;"><b>pmRA</b></th>
                <th style="position: sticky; top: 0;"><b>pmDE</b></th>
                <th style="position: sticky; top: 0;"><b>BTmag</b></th>
                <th style="position: sticky; top: 0;"><b>VTmag</b></th>
                <th style="position: sticky; top: 0;"><b>M(V)</b></th>
                <th style="position: sticky; top: 0;"><b>M(V) error</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt)</b></th>
                <th style="position: sticky; top: 0;"><b>M(Vt) error</b></th>
                <th style="position: sticky; top: 0;"><b>B-V</b></th>
                <th style="position: sticky; top: 0;"><b>BT-VT</b></th>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[8]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>


    <script>

    var input_designation = document.getElementById("designation-search");
    var input_HIP = document.getElementById("HIP-search");
    var input_HD = document.getElementById("HD-search");
    var table = document.getElementById("demo");
    function search() {

        // Declare variables
        var filter_designation, filter_HIP, filter_HD, tr, td_designation, td_HIP, td_HD, i, designationValue, HIPValue, HDValue;

        filter_designation = input_designation.value.toUpperCase();
        filter_HIP = input_HIP.value;
        filter_HD = input_HD.value.toUpperCase();
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        rowsFound = [];
        for (i = 0; i < tr.length; i++) {

            td_designation = tr[i].getElementsByTagName("td")[2]; // change number to any other number to target column for table search
            td_HIP = tr[i].getElementsByTagName("td")[0];
            td_HD = tr[i].getElementsByTagName("td")[1];

            if (td_designation) {

                designationValue = td_designation.textContent || td_designation.innerText;
                HIPValue = td_HIP.textContent || td_HIP.innerText;
                HDValue = td_HD.textContent || td_HD.innerText;

                 if (designationValue.toUpperCase().indexOf(filter_designation) > -1
                  && HIPValue.indexOf(filter_HIP) > -1
                  && HDValue.toUpperCase().indexOf(filter_HD) > -1) {
                     tr[i].style.display = "";
                     rowsFound.push(1)
                 } else {
                     tr[i].style.display = "none";
                 }
            }
        }
        document.getElementById("statistic").innerHTML =  "Showing " + rowsFound.length + " recorder(s).";
    }
    search()
    </script>


    <h2>Estrelas Plotadas no Diagrama M(V) vs B-V</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT-VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[0]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[1]}}</footer>

    <h2>Estrelas sem M(V) ou sem B-V</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT-VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[2]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[3]}}</footer>

    <h2>Estrelas Plotadas no Diagrama M(Vt) vs BT-VT</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT-VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[4]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[5]}}</footer>

    <h2>Estrelas sem M(Vt) ou sem BT-VT</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT-VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[6]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[7]}}</footer>

</body>
</html>