<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Hipparcos - Gaia</title>
    <link rel="stylesheet" href='../static/freeze.css' type="text/css"/>

</head>
<body>
    <h1>{{name}}</h1>
    <img src= "{{url_for('static', filename='img/Hipparcos_minus_Gaia_MV_versus_B_minus_V.png')}}" >
    <img src= "{{url_for('static', filename='img/Hipparcos_minus_Gaia_MVt_versus_BT_minus_VT.png')}}" >
    <h2>Estrelas Plotadas no Diagrama M(V) vs B-V</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT-VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[0]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[1]}}</footer>

    <h2>Estrelas sem M(V) ou sem B-V</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT-VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[2]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[3]}}</footer>

    <h2>Estrelas Plotadas no Diagrama M(Vt) vs BT-VT</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT-VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[4]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[5]}}</footer>

    <h2>Estrelas sem M(Vt) ou sem BT-VT</h2>
    <table id="demo" style="display: block; height: 300px; width: 600px; overflow: auto;">
        <thead>
            <tr>
                <td style="position: sticky; top: 0;"><b>HIP</b></td>
                <td style="position: sticky; top: 0;"><b>HD</b></td>
                <td style="position: sticky; top: 0;"><b>designation</b></td>
                <td style="position: sticky; top: 0;"><b>Vmag</b></td>
                <td style="position: sticky; top: 0;"><b>RAdeg</b></td>
                <td style="position: sticky; top: 0;"><b>DEdeg</b></td>
                <td style="position: sticky; top: 0;"><b>RAhms</b></td>
                <td style="position: sticky; top: 0;"><b>DEdms</b></td>
                <td style="position: sticky; top: 0;"><b>Plx</b></td>
                <td style="position: sticky; top: 0;"><b>e_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>distance_Plx</b></td>
                <td style="position: sticky; top: 0;"><b>pmRA</b></td>
                <td style="position: sticky; top: 0;"><b>pmDE</b></td>
                <td style="position: sticky; top: 0;"><b>BTmag</b></td>
                <td style="position: sticky; top: 0;"><b>VTmag</b></td>
                <td style="position: sticky; top: 0;"><b>M(V)</b></td>
                <td style="position: sticky; top: 0;"><b>M(V) error</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt)</b></td>
                <td style="position: sticky; top: 0;"><b>M(Vt) error</b></td>
                <td style="position: sticky; top: 0;"><b>B-V</b></td>
                <td style="position: sticky; top: 0;"><b>BT-VT</b></td>
            </tr>
        </thead>
        <tbody>
            {%for registro in data[6]%}
            <tr>
                <td>{{registro[0]}}</td>
                <td>{{registro[1]}}</td>
                <td>{{registro[2]}}</td>
                <td>{{registro[3]}}</td>
                <td>{{registro[4]}}</td>
                <td>{{registro[5]}}</td>
                <td>{{registro[6]}}</td>
                <td>{{registro[7]}}</td>
                <td>{{registro[8]}}</td>
                <td>{{registro[9]}}</td>
                <td>{{registro[10]}}</td>
                <td>{{registro[11]}}</td>
                <td>{{registro[12]}}</td>
                <td>{{registro[13]}}</td>
                <td>{{registro[14]}}</td>
                <td>{{registro[15]}}</td>
                <td>{{registro[16]}}</td>
                <td>{{registro[17]}}</td>
                <td>{{registro[18]}}</td>
                <td>{{registro[19]}}</td>
                <td>{{registro[20]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <footer>Quantidade de registros: {{data[7]}}</footer>

</body>
</html>