<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href='../static/style.css' type="text/css"/>
</head>
<body>
    <h1>Catálogo Gaia de Estrelas até 23.0 parsecs do Sol</h1>
   <a href="https://gea.esac.esa.int/archive/" target="_blanck">Gaia Archive</a>
    <div class="button-group">

         <button onclick="window.location.href='{{url_for('gaia')}}';" style="font-family: Arial; font-size: 30px;"
                 type="button">
                 Gaia
         </button>

         <button onclick="window.location.href='{{url_for('hipparcos')}}';" style="font-family: Arial; font-size: 30px;"
                 type="button">
                 Hipparcos
         </button>

         <button onclick="window.location.href='{{url_for('gaia_intersection_hipparcos')}}';" style="font-family: Arial; font-size: 30px;"
                 type="button">
                 Gaia ∩ Hipparcos
         </button>

         <button onclick="window.location.href='{{url_for('gaia_minus_hipparcos')}}';" style="font-family: Arial; font-size: 30px;"
                 type="button">
                 Gaia - Hipparcos
         </button>

         <button onclick="window.location.href='{{url_for('hipparcos_minus_gaia')}}';" style="font-family: Arial; font-size: 30px;"
                 type="button">
                 Hipparcos - Gaia
         </button>
    </div>
</body>
</html>