<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tabela de Dados HIPPARCOS</title>
    <link rel="stylesheet" href='../static/freeze.css' type="text/css"/>
</head>
<body>
    <h1>{{name}}</h1>
    <table border="1" id="demo">
        <thead>
        <tr><th>registro</th><th>HIP</th><th>Vmag</th><th>RAdeg</th><th>DEdeg</th><th>Plx</th><th>e_Plx</th><th>pmRA</th><th>pmDE</th><th>BTmag</th><th>VTmag</th><th>B_V</th></tr>
        </thead>
        <tbody>
        {%for registro in data%}
            <tr>
            <td>{{registro[0]}}</td>
            <td>{{registro[1]}}</td>
            <td>{{registro[2]}}</td>
            <td>{{registro[3]}}</td>
            <td>{{registro[4]}}</td>
            <td>{{registro[5]}}</td>
            <td>{{registro[6]}}</td>
            <td>{{registro[7]}}</td>
            <td>{{registro[8]}}</td>
            <td>{{registro[9]}}</td>
            <td>{{registro[10]}}</td>
            <td>{{registro[11]}}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
</body>
</html>
